:root {
    --variable: value;
}

@font-face {
    font-family: 'minecraftia';
    src: url('minecraftia.woff');
}

body {
    font-family: 'minecraftia', serif;
    color: white;
    /* Background */
    background-image: url(./images/backgrounds/winter_background01.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: bottom;
    padding-left: 15%;
    padding-right: 15%;
}

.content {
    border-radius: 10px;
    text-align: center;
    align-items: center;
    height: fit-content;
    backdrop-filter: url(filters.svg#filter) blur(16px) brightness(.5);
    padding-left: 7.5%;
    padding-right: 7.5%;
    padding-bottom: 2.5%;
    /* Grid (good luck 😔, you need it) */
    display: grid;
    place-items: center;
    grid-template-columns: 10% 30% 60%;
    grid-template-rows: 75px 400px 400px 40px;
}

#pagetitle {
    color: gray;
    grid-column-start: 1;
    grid-column-end: 6;
}

#bodyrender {
    grid-column: 2;
    grid-row: 2;
}

#statsmenu {
    grid-column: 3;
    grid-row: 2;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 60px 40px 40px 40px;
}

#statstitle {
    font-size: 40px;
    margin: 0;
    color: gray;
}

#morestatsmenu {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row: 3;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 50% 50%;
}

/* Data Elements */










/* Buttons */
#button {
    font-family: 'minecraftia', serif;
    font-size: 13px;
    border: 0;
    height: 60px;
    width: 180px;
    scale: .5;
    background-image: url(./images/elements/button0.png);
    justify-self: center;
    grid-column: 1;
    grid-row: 4;
}

.materialicon {
    scale: .1;
}

#button:active {
    background-image: url(./images/elements/button1.png);
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 13px;
}

::-webkit-scrollbar-track {
    background: rgb(40, 40, 40);
}

::-webkit-scrollbar-thumb {
    background: rgb(206, 22, 22);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(196, 12, 12);
}